@font-face {
  font-family: 'XBZar';
  src: url(https://fontlibrary.org/face/xb-zar);
}

body, head {
  width: 100%;
  direction: rtl;
  font-family: 'XBZar', serif;
}

.brand-logo {
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.profile-picture-small-right {
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.sidebar {
  margin-top: -2rem;
  background: rgb(230, 230, 230);
  width: 20rem;
  height: 75rem;
}

.text-sidebar {
  color: #0f0f0f;
}