@font-face {
  font-family: 'XBZar';
  src: url(https://fontlibrary.org/face/xb-zar);
}

html {
  min-height: 100%;
}

body, head {
  background: linear-gradient(rgba(63, 180, 79, 0.86), rgba(250, 235, 72, 0.98));;
  width: 100%;
  height: 100%;
  direction: rtl;
  font-family: 'XBZar', serif;
}

.brand-logo {
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.profile-picture-small-right {
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.sidebar {
  margin-top: -2rem;
  background: rgb(230, 230, 230);
  margin-bottom: 1rem;
  height: 100vh;
  position: fixed;
  top: 7rem;
}

@media screen and (max-width: 990px) {
  .sidebar {
    height: 100%;
    position: relative;
  }
  .small-card {
    margin-top: 8rem;
  }
  .dash-row {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 991px) {
  .dash-row {
    margin-right: 24rem;
    margin-top: 6rem;
  }
  .small-card {
    margin-top: 6rem;
  }
}

.text-sidebar {
  color: #0f0f0f;
}

.sidebar-link {
  border-bottom: #000000 10px;
}

.big-notif-top-offset {
  margin-top: 8rem;
}

.jumbotron {
  height: 100% !important;
  padding: 2rem !important;
}

.text-submenu {
  margin-right: 3rem;
}

.btn {
  font-family: 'XBZar', serif;
}

#intro {
  margin-top: 8rem;
  margin-right: 8rem;
}

.green_active {
  background: rgba(193, 235, 86, 0.64);;
}
