@font-face {
  font-family: 'XBZar';
  src: url(https://fontlibrary.org/face/xb-zar);
}

$grass-green: rgba(193, 235, 86, 0.64);
$baloon-pink: rgba(230, 36, 103, 0.98);
$bts-green: rgba(95, 183, 96, 0.98);
$bts-yellow: rgba(239, 148, 69, 0.85);
$chf-red: rgba(113, 41, 41, 0.98);
$chf-logo: rgba(181, 20, 83, 0.98);
$bls-green: rgba(245, 238, 159, 0.98);
$logo-green: rgb(132, 177, 63);
$baloon-blue: rgba(31, 123, 209, 0.98);
$sky-blue: rgba(167, 218, 241, 0.98);
$baloon-yello: rgba(250, 235, 72, 0.98);
$cucumber-green: rgba(63, 180, 79, 0.86);
$bonyad: #22390d;

body, head {
  direction: rtl;
  font-family: 'XBZar', serif;
}

body {
  background-image: url('../img/back2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.brand-logo {
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

#top_menu {
  position: fixed;
  z-index: 700;
  width: 100%;
}

#img_fade {
  filter: opacity(85%);
  max-width: 100%;
  max-height: 100%;
}

#intro {
  position: relative;
  text-align: center;
}

#img_on_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#help {
  background: $chf-logo;
  color: #ffffff;
}

.heading-text {
  color: #22390d;
  font-size: 300%;
}

/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/
.heading-text {
  font-size: 1.1rem;
}

#donate_btn {
  white-space: normal;
  width: 70px;
  font-size: 0.9rem;
}

.btn-space {
  margin-right: 5px;
  font-size: 1rem;
  direction: rtl;
  font-family: 'XBZar', serif;
}

#company-info {
  //background: linear-gradient($cucumber-green, $baloon-yello);

  //background: $cucumber-green;
}

.care {
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
  position: center;
  width: 95%;
  margin-left: 2.5%;
}

.white-text {
  //color: #ffffff;
  color: $bonyad;
  font-weight: bold;
}

.persi-text {
  font-size: 1.7rem;
}

@media (min-width: 544px) {
  .heading-text {
    font-size: 1.5rem;
  }
  .btn-space {
    font-size: 1.1rem;
  }
  #donate_btn {
    width: 110px;
    font-size: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .heading-text, .btn-space {
    font-size: 2rem;
  }
  .btn-space {
    font-size: 1.3rem;
  }
  #donate_btn {
    width: 140px;
    font-size: 1.3rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .heading-text {
    font-size: 3rem;
  }
  .btn-space {
    font-size: 1.4rem;
  }
  #donate_btn {
    width: 160px;
    font-size: 1.5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .heading-text {
    font-size: 4rem;
  }
  .btn-space {
    font-size: 1.5rem;
  }
  #donate_btn {
    width: 180px;
    font-size: 2rem;
  }
}

/* Set width to make card deck cards 100% width */
@media (min-width: 950px) and (max-width: 1100px) {
  .heading-text {
    font-size: 2.75rem;
  }
  .btn-space {
    font-size: 1.6rem;
  }
  #donate_btn {
    width: 180px;
    font-size: 1.5rem;
  }
}