@font-face {
  font-family: 'XBZar';
  src: url(https://fontlibrary.org/face/xb-zar);
}

$grass-green: rgba(193, 235, 86, 0.64);
$baloon-pink: rgba(230, 36, 103, 0.98);
$bts-green: rgba(95, 183, 96, 0.98);
$bts-yellow: rgba(239, 148, 69, 0.85);
$chf-red: rgba(113, 41, 41, 0.98);
$chf-logo: rgba(181, 20, 83, 0.98);
$bls-green: rgba(245, 238, 159, 0.98);
$logo-green: rgb(132, 177, 63);
$baloon-blue: rgba(31, 123, 209, 0.98);
$sky-blue: rgba(167, 218, 241, 0.98);
$baloon-yello: rgba(250, 235, 72, 0.98);
$cucumber-green: rgba(63, 180, 79, 0.86);
$bonyad: #22390d;

body, head {
  direction: rtl;
  font-family: 'XBZar', serif;
}

#main_body {
  background-image: url('../img/back2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.brand-logo {
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

#top_menu {
  position: fixed;
  z-index: 700;
  width: 100%;
}

#img_fade {
  filter: opacity(85%);
  max-width: 100%;
  max-height: 100%;
}

#intro {
  position: relative;
  text-align: center;
}

#img_on_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#help {
  background: $chf-logo;
  color: #ffffff;
}

.heading-text {
  color: #22390d;
  font-size: 300%;
}

/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/
.heading-text {
  font-size: 1.1rem;
}

#donate_btn {
  white-space: normal;
  width: 70px;
  font-size: 0.9rem;
}

.btn-space {
  margin-right: 5px;
  font-size: 1rem;
  direction: rtl;
  font-family: 'XBZar', serif;
}

.care {
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
  width: 95%;
  margin-right: 2.5%;
}

.white-text {
  //color: #ffffff;
  color: $bonyad;
  font-weight: bold;
}

.persi-text {
  font-size: 1.2rem;
}

#call {
  background: $grass-green;
}

.slider {
  overflow-x: scroll;
  overflow-y: hidden;

  width: 80%;
  margin-right: auto;
  margin-bottom: 5%;
  margin-left: auto;

  white-space: nowrap;

}

.small-card {
  margin-top: 8rem;
}

.jumbotron {
  height: 100% !important;
  padding: 2rem !important;
}

.img-row img {
  height: 60px;
  margin: .5%;
  margin-bottom: 1%;
}

.small-card {
  margin-top: 8rem;
}

.thumbnail {
  transition: 0.3s
}

.thumbnail:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}

////////////
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 720;
  padding-top: 70px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: $grass-green;
  box-sizing: border-box;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: $grass-green;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1000px;
}

/* The Close Button */
.close {
  color: #000000;
  position: absolute;
  top: 30px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #710d2a;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: $bonyad;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: $bonyad;
  color: white;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  margin: 1%;
  text-align: center;
  background-color: $grass-green;
  padding: 2px 16px;
  color: $bonyad;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  //display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

////////////////////
@media (min-width: 544px) {
  .heading-text {
    font-size: 1.5rem;
  }
  .btn-space {
    font-size: 1.1rem;
  }
  #donate_btn {
    width: 110px;
    font-size: 1rem;
  }
  .small-card {
    margin-top: 8rem;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .heading-text, .btn-space {
    font-size: 2rem;
  }
  .btn-space {
    font-size: 1.3rem;
  }
  #donate_btn {
    width: 140px;
    font-size: 1.3rem;
  }
  .small-card {
    margin-top: 8rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .heading-text {
    font-size: 3rem;
  }
  .btn-space {
    font-size: 1.4rem;
  }
  #donate_btn {
    width: 160px;
    font-size: 1.5rem;
  }
  .small-card {
    margin-top: 6rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .heading-text {
    font-size: 4rem;
  }
  .btn-space {
    font-size: 1.5rem;
  }
  #donate_btn {
    width: 180px;
    font-size: 2rem;
  }
  .small-card {
    margin-top: 6rem;
  }
}

/* Set width to make card deck cards 100% width */
@media (min-width: 950px) and (max-width: 1100px) {
  .heading-text {
    font-size: 2.75rem;
  }
  .btn-space {
    font-size: 1.6rem;
  }
  #donate_btn {
    width: 180px;
    font-size: 1.5rem;
  }
  .small-card {
    margin-top: 6rem;
  }
}