$bonyad: #22390d;
$chf-logo: rgba(188, 20, 83, 0.87);
$grass-green: rgba(193, 235, 86, 0.64);

body {
  background: $grass-green;
}
#intro {
  background-image: url("../img/logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.brand-logo {
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.panel-default {
  opacity: 0.9;
  margin-top: 80px;
}

.white-text {
  //color: #ffffff;
  color: $bonyad;
  font-weight: bold;
}

.btn-space {
  margin-right: 5px;
  font-size: 1rem;
  direction: rtl;
  font-family: 'XBZar', serif;
}

#help {
  background: $chf-logo;
  color: #ffffff;
}

@media (min-width: 544px) {

  .btn-space {
    font-size: 1.1rem;
  }


}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

  .btn-space {
    font-size: 1.3rem;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .btn-space {
    font-size: 1.4rem;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .btn-space {
    font-size: 1.5rem;
  }

}

/* Set width to make card deck cards 100% width */
@media (min-width: 950px) and (max-width: 1100px) {

  .btn-space {
    font-size: 1.6rem;
  }

}